.no-underline{
  text-decoration: none;
  color: black;
  
}

.top-style{
  background-color: #ECF2FA;
}


/* for navbar button */
.no-background {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit; /* Ensure the text color stays consistent */
}

.no-background:focus, .no-background:hover {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit;
}

.align{
  padding-top: 14px;
}

.button-back{
  background-color: #ffeb3b;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* for image icon */
.icon-image{
  height: 100px;
  width: 100px;

}

.nav-icon{
  height: 35px;
  width: 35px;
  padding: 0px;
  margin-bottom: -20px;
  margin-top: -10px;
}



/* for home */

.toggle-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #6200ea;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3700b3;
}

.pane-container {
  padding: 10px;
}

.editor-pane {
  display: flex;
  gap: 4px; /* Spacing between panels */
  width: 100%;
}

.box {
  flex-grow: 1;
  height: 100%;
  border-left: 4px solid #ddd;
  overflow: auto;
  box-sizing: border-box;
  width: 500px;
}

.inner-box{
  height: 100%;
}

.CodeMirror {
  padding-top: 0;
  margin-top: 0;
  height: 60vh;
  
}

.iframe{
  height: 50vh;
}

.console-output{
  height: 50vh;
}




/* for nav bar */

.nav-background{
  background-color: #EDEDED ;
}

.blog-container{
  margin-left: 250px;
  margin-right: 200px;
}