.no-underline{
  text-decoration: none;
  
}

.top-style{
  background-color: #ECF2FA;
}


/* for navbar button */
.no-background {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit; /* Ensure the text color stays consistent */
}

.no-background:focus, .no-background:hover {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit;
}

.align{
  padding-top: 14px;
}

.button-back{
  background-color: #ffeb3b;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
}



/* for home */

.toggle-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #6200ea;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3700b3;
}

.pane-container {
  padding: 10px;
}

.editor-pane {
  display: flex;
  gap: 2px; /* Spacing between panels */
  width: 100%;
}

.box {
  flex-grow: 1;
  height: 100%;
  border-left: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}

.preview-pane {
  flex: 1;
  border-left: 1px solid #ccc;
}

.CodeMirror {
  padding-top: 0;
  margin-top: 0;
}
.box{
  width: 600px;
}
